headerbar { 
  border-top: 1px solid #2c283c;
  border-bottom: none;
  box-shadow: none; 
  background-color: #2c283c;
  background-image: none;
  padding: 0 5px;
}

window, scrolledwindow {
  color: #fff;
  background-color: #211e2f;
}

window decoration { 
  border: 1px solid #2c283c; 
  box-shadow: 0 0 5px 4px rgba(30,30,30, .4); 
}

widget frame border {
  border-color: #4c4859; 
  border-radius: 6px;
}

placessidebar {
  background-color: transparent; /* #2c283c; */
  color: #fff;
}

placessidebar row {
  color: #fff;
}

placessidebar row revealer:active {}

paned separator { background-color: #4a3376; }

revealer box { background-color: transparent; /* #2c283c; */ }

/* Searchbox + Footer in dialog */
dialog revealer > box { border-bottom: 1px solid #493f71; background-color: #24232f; }

menu {
  background-color: transparent; /* #2c283c; */
  color: #fff;
}

revealer box { background-color: transparent; }
placessidebar row:selected { background-color: transparent; }
placessidebar row { margin-top: 3px; }
placessidebar row box { padding: 10px; }
placessidebar row:selected box { 
  background-color: #4a3376; 
  border-radius: 5px; 
}

menubar {
  background-color: transparent;
}

treeview {
  background-color: transparent;
  color: #fff;
}

treeview:selected {
  background-color: #2c283c;
}

treeview header {
  background-color: transparent;
  color: #fff;
}

treeview header button {
  background-color: transparent;
}

headerbar {
  color: #fff;
}
headerbar:backdrop {
  color: #777;
}

headerbar button {
  color: #fff;
  background-color: #2c283c;
  background-image: none;
  border: none;
}

headerbar button:checked {
  background-color: #48445e;
}

popover {
  background-color: #2c283c;
  color: #fff;
}

dialog {
  background-color: #2c283c;
}

dialog placesview list { 
  background-color: #2c283c;
  color: #fff;
}

messagedialog {
  background-color: #2c283c;
  color: #fff;
}
messagedialog .titlebar {
  background-color: #2c283c;
  color: #fff;
}

window > box {
  background-color: #2c283c;
  color: #fff;
}

text {
  background-color: #2c283c;
  color: #fff;
}

notebook, notebook box, notebook stack {
  color: #fff;
  background-color: #2c283c;
}

tabs {
  color: #fff;
  background-color: #2c283c;
}

stackswitcher button {
  margin: 0 5px;
  border-radius: 5px;
}

stackswitcher button:hover {
  color: #fff;
  background-color: #48445e;
}

header tabs tab:hover {
  color: #fff;
  background-color: #48445e;
}

button, combobox button {
  border-color: #493f71;
  outline: none;
  box-shadow: none;
  border-left-color: rgb(32,32,32);
  border-right-color: rgb(32,32,32);
  background-image: none;
  color: #fff;
}

button:disabled {
  color: #ddd;
}

table {
  background: #000;
}


