:root {
  --window-bg-color: #2c283c;
  --sidebar-bg-color: #2c283c;
  --sidebar-backdrop-color: #2c283c;
  --view-bg-color: rgb(33, 30, 47);
  --headerbar-bg-color: #2c283c;
  --headerbar-backdrop-color: #343046;
}
